{% extends 'medewerker.html.twig' %}

{% block menu %}
    <li><a href="{{ path('activiteitenoverzicht') }}">home</a></li>
    <li><a href="{{ path('beheer') }}"><span class="badge">{{ aantal }}</span>beheer</a></li>
    <li><a href="{{ path('soort') }}"><span class="badge">{{ soortAantal }}</span>soort activiteit beheer</a> </li>
    <li><a href="{{ path('show_deelnemers') }}">deeelnemers</a></li>
{% endblock %}

{% block content %}
    <h3>Activiteit {{ naam }}</h3>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Opslaan</button>
    {{ form_end(form) }}

{% endblock %}